---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.data.1.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <h1>Articles:</h1>
  <ul class="post-list">
    {%- for post in site.data.1.items. -%}
    <li>
      <span class="post-meta">
        <script>
          document.write(new Date({{ post.published }}))
        </script>
      </span>
      <h3>
        <a class="post-link" href="{{ post.canonicalUrl }}">
          {{ post.title | escape }}
        </a>
        <img src="{{ post.visual.url }}" />
      </h3>
      {{ post.summary.content }}
    </li>
    {%- endfor -%}

  </ul>
  {%- endif -%}

</div>